/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */


@font-face {
    font-family: 'Gotham';
    src: url('Gotham.ttf');
}

body{
    box-sizing: border-box;
}

.wrapper{
    padding: 32px 84px;
    box-sizing: border-box;
}

.header{
    font-family: Gotham;
    font-size: 32px;
    font-weight: 500;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: center;
    color: #181b21;
}

.text-input{
    width: 335px;
    height: 41px;
    /*margin: 8px 848px 19px 424.5px;*/
    border-radius: 21px;
    background-color: #f5f5f5;
    border: none;
    margin: 0 auto;
    padding-left: 20px;
    box-sizing: border-box;
}

.input-wrapper{
    width: 335px;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 auto;
    margin-bottom: 20px;

}

.text-label{
    width: 60px;
    height: 16px;
    /*margin: 39px 104px 8px 451.5px;*/
    font-family: Gotham;
    font-size: 14px;
    font-weight: 500;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.43;
    letter-spacing: normal;
    text-align: left;
    color: #5c5d61;
    /*margin-right: 250px;*/
    padding-bottom: 10px;
    /*margin-left: 30px;*/
}

.measurement-system-div{
    width: 50px;
    display: flex;
    justify-content: space-between;
}

.row-flex{
    width: 275px;
    display: flex;
    align-items: center;
    display: flex;
    justify-content: space-between;


}


.measurement-system-button{
    margin: 0;
    cursor: pointer;
}

.active{
    color: #3d69e1;
}

.gender-button{
    width: 49%;
    border-radius: 21px;
    background-color: #f5f5f5;
    height: 41px;
    display: flex;
    justify-content: center;
    align-items: center;

    font-family: Gotham;
    font-size: 13px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    cursor: pointer;
    color: #181b21;
    padding-top: 8px;
    box-sizing: border-box;

}

.active-gender{
    border-radius: 21px;
    border: solid 3px #3d69e1;
    background-color: #f5f5f5;
    color: #3d69e1;
}

.gender-section{
    width: 335px;
    display: flex;
    justify-content: space-between;
}

.next-btn{
    width: 335px;
    height: 41px;
    border-radius: 21px;
    background-color: #3d69e1;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    color: white;
    font-family: Gotham;
    padding-top: 8px;
    box-sizing: border-box;
    cursor: pointer;
    margin-top: 20px;
}


.select-section{
    width: 32%;
    font-family: Gotham;
}

.select-input{
    width: 100%;
    border-radius: 21px;
    background-color: #f5f5f5;
    height: 41px;
    border: none;
    font-family: Gotham;
    text-align: center;
}


.female-fullest-section,.male-fullest-section{
width: 335px;
margin: 0 auto;
font-family: Gotham;
font-size: 14px;
font-weight: 500;
font-stretch: normal;
font-style: normal;
line-height: normal;
letter-spacing: normal;
text-align: left;
color: #5c5d61;
display: none;
flex-direction: column;
height: 150px;
justify-content: space-between;

}

.female-section{
    display: none;
}